{% extends 'base/base.html' %}
{% load static %}
{% block content %}

    <div class="about">
       <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/news" >Новости</a></li>
                <li><a href="/competition" >Соревнования</a></li>
                <li><div class="navbar-header">
                    <a href="/"> <img src="{% static 'img/Imperia.png'  %}" height= "125px"></a>
                    </div>
                </li>
                <li><a href="/team">Команда</a></li>
                <li><a href="/question">Вопрос-ответ</a></li>
            </ul>
       </div>
    </div>
    <br>
    <section class="content">
        <div class="history">
            <h1 class="text-header">История</h1>

            <p>История пензенского регбийного клуба «Империя» ведет свой отсчет с <b>2002</b> года. Точнее, с марта <b>2002</b> года, когда в нашем городе была создана общественная организация «Воспитание и развитие детско-юношеского регби в Пензенской области».
                Возникновение этой организации было совсем неслучайно. К <b>2002</b> году детско-юношеская регбийная школа, давшая российскому регби немало прекрасных игроков, находилась в бедственном состоянии. Если бы такое положение сохранялось и дальше, то о будущем пензенского регби можно было смело забыть.
            Именно поэтому первым шагом новой организации стало возрождение детско-юношеской спортивной школы регби. Был проведен набор детей и юношей, и начата планомерная работа по подготовке молодых игроков для взрослой команды мастеров.
            Наряду с этой работой не была забыта и взрослая команда. В первый год своего существования команда мастеров РК «Империя» выступала в I лиге Чемпионата России по регби и сразу же добилась успеха, завоевав золотые медали.</p>

            <p>В <b>2003</b> году, несмотря на имеющиеся финансовые трудности, РК «Империя» продолжил свои успешные выступления в I лиге Чемпионата России по регби. В финале пензенские регбисты заняли второе место.
                В этом же <b>2003</b> году юниоры РК «Империя» также выступали в Чемпионате России, где очень хорошо себя зарекомендовали. Достаточно сказать, что по итогам Чемпионата четверо наших юниоров (Илья Демушкин, Алексей Пинишин, Артем Шакиров и Михаил Пышкин) были приглашены в сборную России.
                По итогам сезона <b>2003</b> года все игроки РК «Империя», принимавшие участие в Чемпионатах России, получили звание кандидатов в мастера спорта по регби.</p>

            <p>В <b>2005</b> году РК «Империя» переходит в высшую лигу Чемпионата России. Заняв в Центральной зоне I место, команда вышла в финальную часть, которая проходила в Йошкар-Оле. Стоит отметить, что в этот раз честь пензенского клуба защищали воспитанники пензенской регбийной школы. Результатом выступления в финале стало шестое место. Команда сумела заявить о себе как о серьезном сопернике и оставила очень хорошее впечатление.</p>

            <p>В <b>2006</b> году РК «Империя» переходит в Премьер-лигу Чемпионата России по регбилиг. Переход был вполне закономерен. Зимой <b>2006</b> года РК «Империя» по приглашению Федерации регбилиг выступила на зимнем Чемпионате, где заняла третье место. После этого пензенская команда была включена в число 10 команд, участвующих в Чемпионате и Кубке России по регбилиг.
            РК «Империя» дошла до 1/4 финала, где уступила семикратному чемпиону России по регбилиг, РК «Локомотив». В результате наша команда заняла 4 место в Премьер-лиге Чемпионата России, а все игроки получили звания кандидатов в мастера спорта по регбилиг.</p>

            <p>В <b>2007</b> году РК «Империя» снова выступала в Премьер-лиге Чемпионата России по регбилиг. В этот раз дела у пензенской команды пошли лучше, она заняла третье место.</p>

            <p>В <b>2008</b> году наша команда снова возвращается в регби-15, переходя из регбилиг в Суперлигу Чемпионата России по регби. РК «Империя» заручается поддержкой ФСКН по Пензенской области и, как команда, представляющая МВД России, получает новое название РК «Империя-Динамо».
                Сезон <b>2008</b> года был для нашей команды весьма непростым. Многому пришлось учиться, что называется, на ходу. Несмотря на это, в Чемпионате России по регби среди команд Суперлиги <b>2008</b> года РК «Империя» заняла 6 место. При этом стоит учесть, что в составе команды выступали только пензенские игроки.</p>

            <p>В <b>2009</b> году РК «Империя» заставила считаться с собой и признанных мастеров Суперлиги Чемпионата России по регби. Пензенская команда вела борьбу за попадание в четверку сильнейших команд и выход в плей-офф. К сожалению, чуть-чуть не хватило опыта, и РК «Империя» заняла 5 место.</p>

            <p>В <b>2010</b> году пензенская команда продолжила выступления в Чемпионате России по регби среди команд Суперлиги, по итогам которого заняла пятое место.
            Двое игроков РК «Империя» (Карло Маглакелидзе и Владимир Болтенков) входят в состав сборной России по регби, Артем Гончаров вошел в состав сборной России по регби-7 и выступал за нее на этапах Мировой серии по регби-7 в Дубаи и ЮАР. Несколько игроков привлекаются в молодежную сборную России по регби. В Чемпионате России по регби «Империя» заняла 5 место.
                Наряду с развитием регби-15, в РК «Империя» активно культивируется и регби-7. В <b>2008</b> году пензенская команда вышла в финал Чемпионата России по регби-7, где заняла третье место. А в <b>2010</b> году РК «Империя» приняла участие в финале Кубка европейских чемпионов по регби-7, завоевав пятое место. В <b>2010</b> году наша команда завоевала «серебро» в Чемпионате России по регби-7.
                Также в <b>2010</b> году игроки РК "Империя" составили основу сборной студентов Поволжья, которая провела товарищеский матч со сборной Оксфордского университета на открытии нового регбийного стадиона "Тулпар" в Казани. Наша сборная одержала победу над англичанами со счетом 32:20.</p>

            <p><b>2011</b> год начался для РК «Империя» с выступлений на Кубке России по регби-7 и Кубке России по регби. В Кубке России по регби-7, который прошел в очень сложных погодных условиях, наша команда заняла седьмое место, а в Кубке России по регби дошла до полуфинала.
            В этом году команда продемонстрировала стабильность выступлений. В Чемпионате России по регби РК "Империя" снова заняла пятое место. В Чемпионате России по регби-7 наша команда финишировала на третьем месте, записав на свой счет победу на II финальном туре, который прошел в Москве.
                Но самым значимым результатом <b>2011</b> года, вне всяких сомнений, является второе место, которое РК "Империя" занял на Кубке европейских чемпионов по регби-7. Команда выиграла все матчи и только в финале с разницей в одну попытку уступила ставшему победителем РК "ВВА-Подмосковье" (Монино).</p>

            <p>В <b>2012</b> году в команде произошли изменения. Директор клуба и главный тренер РК «Империя» Сергей Кащеев принял предложение, поступившее от РК «Агроуниверситет» (Казань), и перешел на работу в этот клуб. Вместе с Сергеем Кащеевым в «Агроуниверситет» перешли несколько игроков «Империи».
                После этого главным тренером РК «Империя» стал Владислав Кащеев. Команда омолодила состав, включив в него воспитанников отделений регби пензенской ШВСМ и ДЮСШ-8. Также в состав вошли и игроки из Украины. Первым турниром для обновленной команды стал Кубок России по регби-7. На нем «Империя» выступила удачнее, чем в <b>2011</b> году, заняв шестое место.
                Сезон <b>2012</b> года "Империя" провела неровно. В Чемпионате России по регби команда некоторое время даже замыкала турнирную таблицу. Но во втором круге соревнований "Империя" сумела собраться и выйти на уде привычное для себя пятое место, на котором и завершила регулярный Чемпионат. Но в плей-офф команда не сумела показать достойное выступление и в результате закончила Чемпионат России на восьмом месте.
            В Чемпионате России по регби-7 "Империя" также не сумела удержать лидерские позиции. Из трех туров Чемпионата команда выступила только в двух, набрала 20 очков и в результате заняла 11 место.
                В конце <b>2012</b> года стало известно, что в следующем году "Империя" лишится львиной доли финансирования. Бюджет команды был сокращен на 75%. По этой причине продолжение выступлений в Суперлиге Чемпионата России по регби стало невозможным. "Империя" перешла в Высшую лигу, где и провела сезон <b>2013</b> года.
            Из-за недостаточного финансирования команду покинула большая часть опытных игроков основного состава, которые продолжили свою карьеру в других клубах, выступающих в Суперлиге. "Империя" пополнилась целым рядом молодых игроков, воспитанников пензенской школы регби. В команду пришли ребята 1996 года рождения, а игроки, которые до этого сезона входили в число запасных, стали основными. Также в команде осталось несколько опытных регбистов. В таком составе, представляющем из себя сплав опыта и молодости, "Империя" провела весь сезон. Как показала практика, это сочетание оказалось очень удачным.</p>

            <p>В Чемпионате России по регби <b>2013</b> года "Империя" выступила блестяще. Команда выиграла все игры регулярного Чемпионата России, заработав при этом пять бонусных очков из шести возможных. В финале Чемпионата России по регби среди команд Высшей лиги "Империя" боролась за первое место. Соперником был дубль действующих чемпионов России по регби - "Енисей-СТМ-2" (Красноярск). Финал состоял из двух матчей, один из которых прошел во Владимире, а второй - в Пензе. По итогам этих матчей "Империя" стала чемпионом России по регби среди команд Высшей лиги <b>2013</b> года!
            В Чемпионате России по регби-7 "Империя" выступила в трех турах из четырех. "Семерочная" команда была полностью обновлена. В нее вошли молодые игроки. Выступление в Чемпионате России по регби-7 было не самым удачным. По итогам Чемпионата "Империя" заняла 10 место.</p>
            <br>
            <h1 class="text-header">Детско-юношеское регби</h1>

            <p>Благодаря результативным выступлениям команды мастеров, изменилось и отношение к регби в Пензенской области в целом.
                В <b>2007</b> году при пензенской ДЮСШ-8 было открыто отделение регби, в котором начали работать четыре тренера. А В <b>2010</b> году при областном училище олимпийского резерва (Центре спортивной подготовки) также начало работу отделение регби. На данный момент в Пензе регби занимается более 300 мальчишек всех возрастов.
            Сейчас юные пензенские регбисты выступают практически по всем возрастам, у которых проводятся всероссийские соревнования и Чемпионаты. По некоторым возрастам пензенские ребята уже входят в первую тройку России, так что можно сказать, что вопрос воспитания достойной смены игрокам команды мастеров решается успешно.</p>

        </div>
    </section>
    <br>
{% endblock %}